@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-primary bg-primary text-white leading-loose;
    }
    .h1 {
        @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
    }
    .h2 {
        @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
    }
    .h3 {
        @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
    }
    .content {
        @apply font-primary bg-primary text-accent;
    }

    @keyframes marquee {
        0% { transform: translateX(0); }
        100% { transform: translateX(-50%); } 
    }
      
    .animate-marquee {
        display: flex;
        animation: marquee 10s linear infinite;
    }
    .marquee-wrapper {
        display: flex;
        overflow: hidden;
        width: 200%; 
    }
}
