@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-primary bg-primary text-white leading-loose;
    }
    .h1 {
        @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
    }
    .h2 {
        @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
    }
    .h3 {
        @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
    }
    .content {
        @apply font-primary bg-primary text-accent;
    }
    .marquee-container {
        width: 200%;
        overflow: hidden;
        display: flex;
        background-color: bg-gray-950;
      }
      
      .marquee {
        display: flex;
        animation: marquee 15s linear infinite;
      }
      
      .tech-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5rem;
      }
      
      .tech-image {
        max-width: 80px;
        max-height: 80px;
      }
      
      @keyframes marquee {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-50%);
        }
      }
      
}
